In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
df=pd.read_csv("UCI_Credit_Card.csv")
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [4]:
for i in range(25):
    print("Null values in Column",i,":")
    nullCheck=df.iloc[:,i].isnull().sum()
    print(nullCheck)

Null values in Column 0 :
0
Null values in Column 1 :
0
Null values in Column 2 :
0
Null values in Column 3 :
0
Null values in Column 4 :
0
Null values in Column 5 :
0
Null values in Column 6 :
0
Null values in Column 7 :
0
Null values in Column 8 :
0
Null values in Column 9 :
0
Null values in Column 10 :
0
Null values in Column 11 :
0
Null values in Column 12 :
0
Null values in Column 13 :
0
Null values in Column 14 :
0
Null values in Column 15 :
0
Null values in Column 16 :
0
Null values in Column 17 :
0
Null values in Column 18 :
0
Null values in Column 19 :
0
Null values in Column 20 :
0
Null values in Column 21 :
0
Null values in Column 22 :
0
Null values in Column 23 :
0
Null values in Column 24 :
0

In [5]:
X=df.drop(["ID","default.payment.next.month"],axis='columns')
Y=df["default.payment.next.month"]
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0
1,120000.0,2,2,2,26,-1,2,0,0,0,...,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,90000.0,2,2,2,34,0,0,0,0,0,...,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,50000.0,2,2,1,37,0,0,0,0,0,...,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0
29999,50000.0,1,2,1,46,0,0,0,0,0,...,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0

In [6]:
Y

0        1
1        1
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    1
29998    1
29999    1
Name: default.payment.next.month, Length: 30000, dtype: int64

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X.iloc[:,12:24]=scaler.fit_transform(X.iloc[:,12:24])
X

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,-0.667993,-0.672497,-0.663059,-0.652724,-0.341942,-0.227086,-0.296801,-0.308063,-0.314136,-0.293382
1,120000.0,2,2,2,26,-1,2,0,0,0,...,-0.639254,-0.621636,-0.606229,-0.597966,-0.341942,-0.213588,-0.240005,-0.244230,-0.314136,-0.180878
2,90000.0,2,2,2,34,0,0,0,0,0,...,-0.482408,-0.449730,-0.417188,-0.391630,-0.250292,-0.191887,-0.240005,-0.244230,-0.248683,-0.012122
3,50000.0,2,2,1,37,0,0,0,0,0,...,0.032846,-0.232373,-0.186729,-0.156579,-0.221191,-0.169361,-0.228645,-0.237846,-0.244166,-0.237130
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,-0.161189,-0.346997,-0.348137,-0.331482,-0.221191,1.335034,0.271165,0.266434,-0.269039,-0.255187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000.0,1,3,1,39,0,0,0,0,0,...,2.326690,0.695474,-0.149259,-0.384392,0.171250,0.611048,-0.012648,-0.113564,0.013131,-0.237130
29996,150000.0,1,3,2,43,-1,-1,-1,-1,0,...,-0.627430,-0.532924,-0.577691,-0.652724,-0.231032,-0.103955,0.214255,-0.299828,-0.314136,-0.293382
29997,30000.0,1,2,2,37,4,3,2,-1,0,...,-0.638158,-0.347961,-0.324517,-0.327687,-0.341942,-0.256990,0.952725,-0.039964,-0.183229,-0.119001
29998,80000.0,1,3,1,41,1,-1,0,0,0,...,0.422373,0.147844,-0.468063,0.169130,4.844316,-0.109033,-0.229895,-0.185120,3.152536,-0.191904
29999,50000.0,1,2,1,46,0,0,0,0,0,...,0.039667,-0.104582,-0.129669,-0.395592,-0.216481,-0.178866,-0.215582,-0.244230,-0.248683,-0.237130

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=5)
X_train

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
3755,260000.0,1,1,2,36,-2,-2,-2,-2,-2,...,-0.677929,-0.672497,-0.517210,-0.639912,-0.341942,-0.256990,-0.296801,0.257944,-0.264195,-0.251306
4189,10000.0,1,1,1,41,0,0,3,2,2,...,-0.541645,-0.529971,-0.497653,-0.509004,-0.160815,-0.256990,-0.296801,-0.244102,-0.314136,-0.265256
14444,490000.0,1,1,2,28,0,0,0,0,0,...,4.984364,5.390307,5.861813,6.145997,0.585306,0.396165,0.526750,0.585598,0.669039,0.306488
2517,230000.0,2,1,2,28,-2,-2,-2,-2,-2,...,-0.635649,-0.666995,-0.659769,-0.652724,-0.211953,-0.129735,-0.276695,-0.295296,-0.314136,-0.293382
8963,180000.0,1,2,2,30,-1,-1,-1,-1,-1,...,-0.519742,-0.473746,-0.493640,-0.484807,0.261814,0.219129,0.429401,0.349416,0.340398,0.329889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046,330000.0,2,2,1,41,1,2,2,2,2,...,3.666306,4.095783,4.496973,4.543410,-0.341942,0.706532,0.384759,0.457932,-0.250123,1.028538
26301,130000.0,2,3,2,35,0,0,0,0,0,...,-0.594711,-0.537898,-0.490301,-0.462491,-0.281566,-0.213588,-0.126411,-0.180397,-0.248683,-0.237130
20463,100000.0,1,2,2,26,0,0,0,0,0,...,-0.202805,-0.148961,-0.096921,-0.018299,-0.191003,-0.170186,-0.183208,-0.180397,-0.019596,1.956695
18638,80000.0,2,1,2,25,-1,-1,2,-1,-1,...,-0.667979,-0.577723,-0.663059,-0.652724,-0.050328,-0.256990,0.049488,-0.308063,-0.314136,-0.171372
2915,450000.0,1,2,2,29,1,2,0,0,0,...,-0.515863,-0.508208,-0.599436,-0.568766,-0.301128,-0.204734,-0.281807,-0.306850,0.013131,-0.293382

In [17]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,Y_train)
Y_predicted=lr.predict(X_test)
print(Y_predicted[0:5])
Y_test[0:5]
lr.score(X_test,Y_test)

[0 0 0 0 0]

0.7768333333333334

In [ ]:
from sklearn import metrics
matrix=metrics.confusion_matrix(Y_predicted,Y_test)
sns.heatmap(matrix, annot=True, linewidths=0.01,cmap="Blues",linecolor="gray", fmt= '.1f')
plt.xlabel("Predicted Values")
plt.ylabel("Test Values")
plt.title("Confusion Matrix for CNN")
plt.show()

In [21]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(X_train,Y_train)
Y_predicted=nb.predict(X_test)
Y_predicted[0:5]
nb.score(X_test,Y_test)

0.779

In [ ]:
from sklearn import metrics
matrix=metrics.confusion_matrix(Y_predicted,Y_test)
sns.heatmap(matrix, annot=True, linewidths=0.01,cmap="Blues",linecolor="gray", fmt= '.1f')
plt.xlabel("Predicted Values")
plt.ylabel("Test Values")
plt.title("Confusion Matrix for CNN")
plt.show()

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn3=KNeighborsClassifier(n_neighbors=3)
knn3.fit(X,Y)
print(cross_val_score(knn3,X,Y,cv=10))
print(np.average(cross_val_score(knn3,X,Y,cv=10)))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
knn4=KNeighborsClassifier(n_neighbors=5)
knn4.fit(X,Y)
print(cross_val_score(knn4,X,Y,cv=10))
print(np.average(cross_val_score(knn4,X,Y,cv=10)))